{{define "inner-style"}}
    <link rel='stylesheet' href='https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css'>
    <link href="{{printf "%sfrontend/css/jquery.selectBox.css" .Uri}}" media='all' rel='stylesheet' type='text/css'>
    <link href="{{printf "%sfrontend/css/searching.css" .Uri}}" media='all' rel='stylesheet' type='text/css'/>
    <link href="{{printf "%sfrontend/css/commerce.css" .Uri}}" media='all' rel='stylesheet' type='text/css'/>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
{{end}}

{{define "content"}}
<div class="main-content">
    {{/*1 mulai*/}}
    <div class="user-profile-content container">

        <div class="col-md-3 profile-table-container">
            <div class="filter-search">
                <h5 class="heading-filter">Filters</h5>

                <h5 class="heading-filter"><span>Categories</span></h5>

                <form class="opt-box" action="#">
                    <input type="radio" id="all" value="all" name="q1" class="form-radio">
                    <label for="all">All</label>
                    <br>

                    <input type="radio" id="fashion" value="fashion" name="q1" class="form-radio">
                    <label for="fashion">Fashion</label>
                    <br>

                    <input type="radio" id="beauty" value="beauty" name="q1" class="form-radio">
                    <label for="beauty">Beauty</label>
                    <br>

                    <input type="radio" id="life-style" value="life-style" name="q1" class="form-radio">
                    <label for="life-style">Life style</label>
                    <br>

                    <input type="radio" id="list-shonet" value="list-shonet" name="q1" class="form-radio">
                    <label for="list-shonet">Shonet IT List</label>
                </form>

                <h5 class="heading-filter"><span>Post Type</span></h5>

                <form class="opt-box" action="#">
                    <input type="radio" id="all1" value="all1" name="q1" class="form-radio">
                    <label for="all1">All</label>
                    <br>

                    <input type="radio" id="article" value="article" name="q1" class="form-radio">
                    <label for="article">Article</label>
                    <br>

                    <input type="radio" id="mixmatch" value="mixmatch" name="q1" class="form-radio">
                    <label for="mixmatch">Mix & Match</label>
                </form>

            </div>
        </div>

        {{/*insider feeds mulai*/}}
        <div class="col-md-6 targetTab-page main">
            <div class="feed-container">

                <div class="content-header-menu wrap-search-menu">
                    <a class="content-header-title post-search-menu active" id="allpost">
                        All
                        <span class="dev-blue"></span>
                    </a>
                    <a class="content-header-title post-search-menu" target="1">
                        Posts
                        <span class="dev-blue"></span>
                    </a>
                    <a class="content-header-title post-search-menu" target="2">
                        Insiders
                        <span class="dev-blue"></span>
                    </a>
                    <a class="content-header-title post-search-menu" target="3">
                        Products
                        <span class="dev-blue"></span>
                    </a>
                </div>


                {{/*search post content*/}}
                <div class="article search-post targetTab" id="tab1">
                    <div class="row">
                        <h5 class="heading-filter">Post</h5>

                        {{/*post result card mulai*/}}
                        {{range .Data.Articles}}
                        <div class="wrap-new-post-search">
                            <a class="search-post-img" href="#">
                                <img class="img-responsive" src="{{printf "%s" .image_source}}">
                            </a>
                            <div class="content-post-search">
                                <a href="#">{{ printf "%s" .title }}</a>
                                <div class="article-profile">
                                    <img class="article-post-img-search" src="{{printf "%s" .writer.photo}}" alt="user-profile-img">
                                    <div class="article-post-content">
                                        <p class="article-name">{{ .writer.name }}</p>
                                        <!-- p class="article-title"></p -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{end}}
                        {{/*post result card selesai*/}}

                        {{/*navigation mulai*/}}
                        <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                            <div class="see-more">
                                <a target="1">See More</a>
                            </div>
                            <div class="navigation-box-follow">
                                <!-- div class="pagination">
                                    <a href="#"><i class="fa fa-arrow-left"></i></a>
                                    <a href="#">1</a>
                                    <a class="active" href="#">2</a>
                                    <a href="#">3</a>
                                    <a href="#">4</a>
                                    <a href="#">5</a>
                                    <a href="#">...</a>
                                    <a href="#">8</a>
                                    <a href="#"><i class="fa fa-arrow-right"></i></a>
                                </div -->
                            </div>
                        </div>
                        {{/*navigation selesai*/}}

                    </div>
                </div>
                {{/*serach post content selesai*/}}


                {{/*Follower*/}}
                <div class="article search-post targetTab" id="tab2">
                    <div class="row">
                        <h5 class="heading-filter">Insider</h5>

                        {{/*Follower insider search*/}}
                        {{range .Data.Users}}
                        <div class="col-md-4 col-sm-6 col-xs-6">
                            <a href="">
                                <div class="wrap-box-follow">
                                    <img class="following-row-mid-big" src="{{printf "%s" .photo}}" alt="following-feed-img">
                                    <span class="heading-box-follow">{{ .name }}</span>
                                    <a class="btn-box-followed" href="#">Follow +</a>
                                </div>
                            </a>
                        </div>
                        {{end}}
                        {{/*Follower insider search selesai*/}}

                        {{/*pagination mulai*/}}
                        <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                            <div class="see-more">
                                <a target="2">See More</a>
                            </div>
                            <div class="navigation-box-follow">
                                <!-- div class="pagination">
                                    <a href="#"><i class="fa fa-arrow-left"></i></a>
                                    <a href="#">1</a>
                                    <a class="active" href="#">2</a>
                                    <a href="#">3</a>
                                    <a href="#">4</a>
                                    <a href="#">5</a>
                                    <a href="#">...</a>
                                    <a href="#">8</a>
                                    <a href="#"><i class="fa fa-arrow-right"></i></a>
                                </div -->
                            </div>
                        </div>
                        {{/*pagination selesai*/}}

                    </div>
                </div>
                {{/*Follower selesai*/}}

                {{/*Product card mulai*/}}
                <div class="article search-post targetTab" id="tab3">
                    <div class="row">
                        <h5 class="heading-filter">Product</h5>

                        {{/*Product card result*/}}
                        {{range .Data.Products}}
                        <div class="col-lg-6">
                            <div class="wrap-shoper">
                                <div class="main-img">
                                    <img src="{{printf "%s" .thumbnail}}" alt="image-shoper">
                                </div>
                                <div class="main-content">
                                    <h3 class="heading">{{ .name }}</h3>
                                    <span class="subheading">{{ .brand.name }}</span>
                                    <div class="price">IDR {{ number_format .price 2 "," "." }}</div>
                                    <p class="content"><a href="#">see more</a></p>
                                </div>
                            </div>
                        </div>
                        {{end}}
                        {{/*Product card result selesai*/}}

                        {{/*Product pagination*/}}
                        <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                            <div class="see-more">
                                <a target="3">See More</a>
                            </div>
                            <div class="navigation-box-follow">
                                <!-- div class="pagination">
                                    <a href="#"><i class="fa fa-arrow-left"></i></a>
                                    <a href="#">1</a>
                                    <a class="active" href="#">2</a>
                                    <a href="#">3</a>
                                    <a href="#">4</a>
                                    <a href="#">5</a>
                                    <a href="#">...</a>
                                    <a href="#">8</a>
                                    <a href="#"><i class="fa fa-arrow-right"></i></a>
                                </div -->
                            </div>
                        </div>
                        {{/*Product pagination selesai*/}}

                    </div>
                </div>
                {{/*product card selesai*/}}

            </div>
        </div>
        {{/*insider feeds akhir*/}}

        {{/*Sponsored card mulai*/}}
        <div class="col-md-3 targetTab-page sidebar-right sticky3-real" id="tab6">

            <div class="targetTab-page sponsor-panel" id="tab7">
                <div class="sponsor-container stickyads">
                    <div class="content-header hidden-sm hidden-xs">Sponsored</div>
                    {{if eq .Data.Banner.ID 0}}
                        <div class="sponsors">
                            <img src="https://theshonet-assets.s3.ap-southeast-1.amazonaws.com/users/Insider-c51ce410c124a10e0db5e4b97fc2af39.jpg" alt="sponsors">
                            <h4 >THE SHONET</h4>
                            <!-- p>{{ .Data.Banner.Title }}</p -->
                        </div>
                    {{else}}
                    <div class="sponsors">
                        <img src="{{printf "%s" .Data.Banner.Banner}}" alt="sponsors">
                        <h4 >{{ .Data.Banner.Title }}</h4>
                        <!-- p>{{ .Data.Banner.Title }}</p -->
                    </div>
                    {{end}}
                </div>
            </div>

        </div>
        {{/*Sponsored card selesai*/}}

    </div>
    {{/*1 selesai*/}}


</div>
{{end}}

{{define "footer-scripts"}}
    <script src='{{printf "%sfrontend/js/jquery.themepunch.tools.min.js" .Uri}}' type='text/javascript'></script>
    <script src='{{printf "%sfrontend/js/jquery.themepunch.revolution.min.js" .Uri}}' type='text/javascript'></script>
    <script src='{{printf "%sfrontend/js/easing.min.js" .Uri}}' type='text/javascript'></script>
    <script src='{{printf "%sfrontend/js/imagesloaded.pkgd.min.js" .Uri}}' type='text/javascript'></script>
    <script src='{{printf "%sfrontend/js/jquery.appear.min.js" .Uri}}' type='text/javascript'></script>
    <script src='{{printf "%sfrontend/js/script.js" .Uri}}' type='text/javascript'></script>
    <script src='{{printf "%sfrontend/js/jquery.prettyPhoto.js" .Uri}}' type='text/javascript'></script>
    <script src='{{printf "%sfrontend/js/jquery.prettyPhoto.init.min.js" .Uri}}' type='text/javascript'></script>
    <script src='{{printf "%sfrontend/js/jquery.carouFredSel.min.js" .Uri}}' type='text/javascript'></script>
    <script src='{{printf "%sfrontend/js/jquery.countdown.min.js" .Uri}}' type='text/javascript'></script>
    <script src='{{printf "%sfrontend/js/preloader.min.js" .Uri}}' type='text/javascript'></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.6/ScrollMagic.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.6/plugins/debug.addIndicators.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            enableScroll();

            //
            $('#edit-profile').click(function () {
                $('input.heading-input').removeAttr('disabled');
            });

            $(function () {
                $('[data-toggle="tooltip"]').tooltip();
            });

            // tab menu
            $('.navigation-box-follow').hide();
            $('a.content-header-title').click(function(){
                $('.targetTab').hide();
                $('#tab'+$(this).attr('target')).show();
                $('a.content-header-title').removeClass('active');
                $(this).addClass('active');
                $('.navigation-box-follow').show();
                $('.see-more').hide();
            });
            $('.see-more a').click(function(){
                $('.targetTab').hide();
                $('#tab'+$(this).attr('target')).show();
                $('a.content-header-title').removeClass('active');
                $('.navigation-box-follow').show();
                $('.see-more').hide();
            });
            $('#allpost').click(function(){
                $('#tab1.targetTab, #tab2.targetTab, #tab3.targetTab').show();
                $('.navigation-box-follow').hide();
                $('.see-more').show();
            });

            // auto complete jquery
            $.widget( "custom.catcomplete", $.ui.autocomplete, {
                _create: function() {
                    this._super();
                    this.widget().menu( "option", "items", "> :not(.ui-autocomplete-category)" );
                },
                _renderMenu: function( ul, items ) {
                    var that = this,
                        currentCategory = "";
                    $.each( items, function( index, item ) {
                        var li;
                        if ( item.category != currentCategory ) {
                            ul.append( "<li class='ui-autocomplete-category'>" + item.category + "</li>" );
                            currentCategory = item.category;
                        }
                        li = that._renderItemData( ul, item );
                        if ( item.category ) {
                            li.attr( "aria-label", item.category + " : " + item.label );
                        }
                    });
                }
            });


            // Actual Code
            $(function() {

                $( "#search" ).catcomplete({
                    delay: 0,
                    source: function (req, resp) {
                        console.log("{{printf "%s/elastic/search?word=" .Data.ApiUrl.url}}" + req.term);
                        var request = {
                            credentials: 'same-origin',
                            method     : 'GET',
                            headers    : new Headers({
                                'X-Api-Key': '{{printf "%s" .Data.ApiUrl.apiKey}}'
                            })
                        }

                        var url = '{{printf "%s/elastic/search?word=" .Data.ApiUrl.url}}' + req.term;
                        fetch(url, request)
                            .then(response => response.json())
                            .then(response => {
                                resp($.map(response, function (el) {
                                    return {
                                        label    : el.label,
                                        category : el.category,
                                        id       : el.id
                                    }
                                }));
                            })
                            .catch(err => console.log(err));
                    }
                });
            });
        });

        var test = function() {
            var request = {
                credentials: 'same-origin',
                method     : 'GET',
                mode       : 'cors',
                headers    : new Headers({
                    'X-Api-Key': 'sh0N3tAp13L45t1cD3v'
                })
            }

            fetch("http://localhost:8081/elastic/search?word=zara", request)
                .then(resp => resp.json())
                .then(resp => {
                    console.log(resp)
                })
                .catch(err => console.log(err));
        }

        test();
    </script>

    <script type="text/javascript">
        $( document ).ready(function() {
            var $stickyads = $('.stickyads');
            var $owlprev = $('.owl-prev');
            var $owlnext = $('.owl-next');

            var stickyadsTop = $stickyads.offset().top;

            $(window).scroll(function(){
                var windowTop = $(window).scrollTop();
                var windowWidth = window.innerWidth;
                if ( stickyTop < windowTop ) {
                    $owlprev.css({ visibility: 'hidden' });
                    $owlnext.css({ visibility: 'hidden' });
                    if ( windowWidth >= 1200 ) {
                        $sticky.css({ position: 'fixed', top: 40, marginLeft: '0%', transition: 'top 0.6s', backgroundColor: '#F5F5F5', width: 618, paddingTop: 20, paddingBottom: 10, paddingLeft: 3});
                    } else if ( windowWidth >= 992 && windowWidth <= 1199 ) {
                        $sticky.css({ position: 'fixed', top: 40, marginLeft: '0%', transition: 'top 0.6s', backgroundColor: '#F5F5F5', width: 493.7, paddingTop: 20, paddingBottom: 10, paddingLeft: 3});
                    }	else if ( windowWidth >= 600 && windowWidth <= 991 ) {
                        $sticky.css({ position: 'fixed', top: -30, marginLeft: '0%', transition: 'top 0.6s', backgroundColor: '#F5F5F5', width: '97%', paddingTop: 20, paddingBottom: 10, paddingLeft: 3});
                    } else if ( windowWidth >= 421 && windowWidth <= 599) {
                        $sticky.css({ position: 'fixed', top: -30, marginLeft: '0%', transition: 'top 0.6s', backgroundColor: '#F5F5F5', width: '95%', paddingTop: 20, paddingBottom: 10, paddingLeft: 3});
                    } else {
                        $sticky.css({ position: 'fixed', top: -30, marginLeft: '0%', transition: 'top 0.6s', backgroundColor: '#F5F5F5', width: '100%', paddingTop: 20, paddingBottom: 10, paddingLeft: 3});
                    }
                } else {
                    $stickyads.css({ position: 'relative', top: 0});
                    $sticky.css({position: 'relative', top: -5, paddingTop: 0, paddingBottom: 0, border: '0'});
                    $owlprev.css({ visibility: 'visible' });
                    $owlnext.css({ visibility: 'visible' });
                };
                if ( stickyadsTop < windowTop ) {
                    if ( windowWidth >= 1200 ) {
                        $stickyads.css({ position: 'fixed', top: 90, transition: 'top 0.6s', width: 246});
                    } else if ( windowWidth >= 992 && windowWidth <= 1199 ) {
                        $stickyads.css({ position: 'fixed', top: 90, transition: 'top 0.6s', width: 193});
                    } else {
                    }
                } else {
                    $stickyads.css({ position: 'relative', top: 0});
                };
            });


            var scrollbarTimeout;
            $('.sidebar').scroll(function() {
                $('.sidebar').show();
                clearTimeout(scrollbarTimeout);
                scrollbarTimeout = setTimeout(function()
                {
                    // Your function here
                    $('#navScrollbar').hide();
                }, 500);
            });

        });
    </script>

    <script>
        $('.burger').click(function(){
            $('.sidebar').toggleClass("show");
        });
    </script>
{{end}}